<nav></nav>
<div class="al-main">
    <div class="al-content">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="al-footer clearfix">
    <div class="al-footer-right">Powered by Fronde Systems Group Limited. Version 1.0.0<i class="ion-heart"></i></div>
    <div class="al-footer-main clearfix">
        <ul class="al-share clearfix">
            <li><i class="socicon socicon-facebook"></i></li>
            <li><i class="socicon socicon-twitter"></i></li>
            <li><i class="socicon socicon-google"></i></li>
            <li><i class="socicon socicon-github"></i></li>
        </ul>
    </div>
</footer>